// Prevent adjustments of font size after orientation changes in iOS.
html {
  -webkit-text-size-adjust: 100%;
}

// Set core root defaults
html:focus-within {
  scroll-behavior: smooth;

  // Remove smooth scroll for people that prefer not to see them
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

// Set core body defaults
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// Remove list styles on ul, ol elements
ul,
ol {
  list-style: none;
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Make images easier to work with
img,
picture,
svg {
  max-width: 100%;
  display: block;
  border-style: none; //Remove the border on images inside links in IE 10.
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background: none;
  cursor: pointer;
}

// Render the `main` element consistently in IE.
main {
  display: block;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

*:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 0.25em;
}
