@use "base";
@use "abstract";
@use "layout/container";
@use "layout/column";
@use "components/button";
@use "components/form";
@use "components/navigation";
@use "components/tabs";
@use "components/card";
@use "components/accordion";
@use "components/social-nav";

.hero {
  text-align: center;

  @media (min-width: 40em) {
    text-align: start;
  }

  @media (max-width: 40em) {
    & p {
      margin-inline: auto;
    }
  }

  &__cta-btn-wrapper {
    gap: 1rem;
    margin-top: var(--size-700);
    justify-content: center;

    @media (min-width: 40em) {
      justify-content: start;
    }
  }
}

.download__inner {
  --flow-space: var(--size-700);
  --gap: 1.875rem;
  max-width: 57rem;
  margin-inline: auto;
}

@media (min-width: 40em) {
  .card:nth-child(2) {
    transform: translateY(var(--size-700));
  }

  .card:nth-child(3) {
    transform: translateY(calc(var(--size-700) * 2));
  }
}

.contact {
  &__inner-wrapper {
    max-width: 28rem;
    margin-inline: auto;
  }

  &__sub-heading {
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    font-size: var(--size-300);
    letter-spacing: 0.35em;
  }

  @media (min-width: 40em) {
    &__heading {
      font-size: var(--size-600);
      font-weight: var(--fw-bold);
    }
  }
}
