:root {
  // Colours
  --clr-primary-100: hsl(231, 69%, 60%);
  --clr-primary-700: hsl(229, 31%, 21%);

  --clr-neutral-100: hsl(229, 8%, 60%);

  --clr-secondary-200: hsl(0, 94%, 66%);

  --white: hsl(0, 0%, 100%);

  //Screen sizes
  --sz-mobile: 375px;
  --sz-desktop: 1440px;
}
