.social-nav {
  &__item {
    color: var(--clr-neutral-100);

    &:hover {
      color: var(--clr-secondary-400);
    }
  }

  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
